/* Footer Styling */
.footer {
  background-color: #f8f5f5; /* Light background */
  color: #0a0a59; /* Dark text */
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footerMessage {
  margin-bottom: 2rem;
}

.footerLogo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footerLogoImage {
  max-width: 10rem; /* Adjust logo size */
}

.footerNav {
  flex: 1;
  text-align: left;
}

.footerNav h4 {
  margin-bottom: 10px;
}

.footerNav ul {
  list-style-type: none;
  padding: 0;
}

.footerNav li {
  margin: 5px 0;
  font-size: 1rem;
}

.footerNav a {
  color: #0a0a59; /* Dark links */
  text-decoration: none;
}

.footerNav a:hover {
  text-decoration: underline; /* Underline on hover */
}

.footerSocial {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Adds space between social icons */
}

.footerSocial a {
  color: #0a0a59;
  font-size: 1.5rem; /* Icon size */
  text-decoration: none;
}

.footerBottom {
  margin-top: 20px;
  border-top: 1px solid rgba(10, 10, 89, 0.2); /* Light border on top */
  padding-top: 10px;
  font-size: 14px;
}

/* Responsive Styling for Small Devices */
@media (max-width: 480px) {
  .footer {
    padding: 15px;
    font-size: 0.8rem;
  }

  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerNav,
  .footerSocial {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .footerLogoImage {
    max-width: 7rem;
  }

  .footerNav h4 {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .footerNav li,
  .footerSocial li {
    font-size: 0.7rem;
  }

  .footerBottom {
    margin-top: 5px;
    padding-top: 6px;
    font-size: 0.6rem;
  }
}
