/* Navbar Styling */

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 5rem; /* Adjust padding as needed */
  background-color: #be1e2d;
}

.logo {
  height: 40px; /* Logo height */
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px; /* Space between nav items */
}

ul li a {
  font-size: 20px;
  font-family: "Della Respira", serif;
  transition: all 0.18s ease;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  color: #fff; /* Link color */
}

.navLink:hover {
  color: #ddd;
}

/* Social Icons */
#socials {
  display: flex; 
  gap: 10px; 
}

.socialDropToggle {
  display: none; /* Show dropdown toggle on smaller screens */
}

.socialDrop {
  position: absolute; 
  right: 0; 
  margin-top: 15rem; 
  background-color: #fff; 
  border: 1px solid #ddd; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
  display: none; 
  flex-direction: column; 
  z-index: 9999; 
}

.socialDrop.active {
  display: flex;
}

.socialDrop ul {
  list-style-type: none; 
  padding: 0; 
}

.socialDrop ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Responsive Styling for Small Devices */
@media (max-width: 480px) {
  .navbar {
    padding: 0.7rem 1rem; /* Adjust padding */
  }

  ul li a {
    font-size: 12px;
  }

  .navbar a img {
    width: 7rem; /* Adjust logo size */
    height: auto; /* Maintain aspect ratio */
  }

  #socials {
    display: none; /* Hide social icons */
  }

  .socialDropToggle {
    display: block; /* Show dropdown toggle on small screens */
    color: #fff; /* Toggle color */
    font-size: 20px; /* Toggle font size */
  }

  .navLink {
    font-size: 0.9rem; /* Smaller font size for links */
  }
}
