/* 
@font-face {
  font-family: 'Noto'; 
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'FigI'; 
  src: url('/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'FigN'; 
  src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
} */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 5rem;
  align-self: center;
  background-color: #be1e2d;
}

/* .logoContainer {
  flex-grow: 1;
} */

.logo {
  height: 40px;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
}

ul li a{
  font-size: 20px;
  transition: all 0.18s ease;
}

.navLink {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}

.navLink:hover {
  color: #ddd;
}

.socialDrop{
  display: none;
}

@media (max-width: 480px) {
  html{
      font-size: 90%;
  }

  .navbar{
      height: 3rem;
      width: 100%;
      padding: 0.7rem 1rem;
  }

  .navbar a img{
      width: 8rem;
      height: auto;
  }

  #socials{
    display: none;
  }

  .socialDrop{
    display: flex;
  }

  .navLink{
    font-size: 0.9rem;
  }

  .socialDropToggle {
    display: block; /* Show dropdown toggle on smaller screens */
  }

  .socialDrop {
    position: absolute;
    display: block;
    margin-top: 14rem;
    right: 0;
  }

  .socialDrop ul {
    list-style-type: none;
    padding: 0;
  }

  .socialDrop ul li {
    padding: 0.5rem;
    background-color: skyblue;
  }

  .socialDrop ul li a {
    color: white;
    font-size: 20px;
  }
}

