.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logoContainer {
  flex-grow: 1;
}

.logo {
  height: 40px;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navLink {

  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  color: #ddd;
}
