
/* @font-face {
    font-family: 'FigN'; 
    src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'FigI'; 
    src: url('/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
} */

/* General slider container */
.topNews {
    width: 100%;
    height: 70vh;
    /* margin: 2rem 0; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Slider item (image container and text overlay) */
.sliderItem {
    position: relative;
    width: 100%;
    height: 70vh;
    text-align: left;
}

/* Image styling */
.articleThumbnail {
    width: 100%;
    object-fit: cover;
}

/* Text overlay for articles */
.textOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Title styling */
.articleTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
    /* font-family: 'FigN';  */
}

/* Description styling */
.articleDescription {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 10px;
    max-width: 90%;
    color: #f3f0f0;
    /* font-family: 'FigI';  */
}

/* Author and date container */
.articleDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 300;
}

.articleAuthor, .articleDate{
    font-size: 0.7rem;
    color: #fff;
}

/* Arrows */
.slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-prev:before, .slick-next:before {
    font-size: 24px;
    color: white;
}

/* Adjust arrow positions */
.slick-prev {
    left: -60px;
}

.slick-next {
    right: -60px;
}

/* Dots styling */
.slick-dots li button:before {
    font-size: 12px;
    color: white;
}

.slick-dots li.slick-active button:before {
    color: white;
}

/* media  */

@media (max-width: 480px){
    .topNews {
        height: 40vh;
    }
    
    .sliderItem{
        height: 40vh;

    }

    .articleTitle {
        font-size: 2rem; 
    }
    
    /* Description styling */
    .articleDescription {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }
    
    /* Author and date container */
    .articleDetails {
        font-size: 0.6rem;
    }

}
